/** var t; // stylesheet **/

/* global */
* { box-sizing: border-box; }
body { background-color: #fff; margin: 0; padding: 20px; margin: 10px; font-family: 'Helvetica', Arial, sans-serif; width: 100%; max-width: 700px; font-size: 1.2em; }
a { text-decoration: none; color: blue; }
img { max-width: 100%; }

@-webkit-keyframes rainbow {
  10% { background-color: rgba(255, 105, 180, 0.65); }
  20% { background-color: rgba(167, 105, 255, 0.65); }
  40% { background-color: rgba(105, 213, 255, 0.65); }
  60% { background-color: rgba(109, 255, 105, 0.65); }
  80% { background-color: rgba(255, 227, 105, 0.65); }
  100% { background-color: rgba(255, 105, 105, 0.65); }
}
@keyframes rainbow {
  10% { background-color: rgba(255, 105, 180, 0.65); }
  20% { background-color: rgba(167, 105, 255, 0.65); }
  40% { background-color: rgba(105, 213, 255, 0.65); }
  60% { background-color: rgba(109, 255, 105, 0.65); }
  80% { background-color: rgba(255, 227, 105, 0.65); }
  100% { background-color: rgba(255, 105, 105, 0.65); }
}

header, h1, h2, h3, h4, h5, h6, blockquote { font-family: monospace; }

header { font-size: 1.5em; margin: 0; background-color: #efefef; -webkit-animation: rainbow 10s infinite alternate; animation: rainbow 10s infinite alternate; padding: 10px; }
header h1,
header h2,
header h3 { display: inline; font-size: 1.4em; }
header h2 { font-weight: normal; font-size: .9em; font-style: italic; }
header h3 { font-size: .8em; font-weight: normal;}
header em { font-style: normal; color: red; }
header i { font-style: italic; color: gray; font-weight: normal; }

article { line-height: 1.5em; }
article h3,
nav h3 { font-size: 1.5em; }

footer #vartists { border: 5px solid black; padding: 10px; margin: 40px 0; }
footer h3 { margin: .5em 0; }

.image { text-align: center; }
.caption { font-size: .8em; color: #666; font-style: italic; }
.hr { text-align: center; }

#about { font-style: italic; }
#vartists li { margin: 1em 0; }

#copyright { font-size: .6em; padding: 5px 10px; background-color: #efefef; -webkit-animation: rainbow 10s infinite alternate; animation: rainbow 10s infinite alternate; }
#copyright a { color: #fff; }

.soon { opacity: .4; }

/* mondrian */
@-webkit-keyframes mondrian {
  33% { background-color: rgba(255, 0, 0, 1); }
  66% { background-color: rgba(255, 255, 0, 1); }
  99% { background-color: rgba(0, 0, 255, 1); }
}
@keyframes mondrian {
  33% { background-color: rgba(255, 0, 0, 1); }
  66% { background-color: rgba(255, 255, 0, 1); }
  99% { background-color: rgba(0, 0, 255, 1); }
}

#mondrian { background: url('mondrian/Mondrian_Comp10.jpg') fixed; }
#mondrian header a { color: #000; text-decoration: underline; }
#mondrian header,
#mondrian #copyright { background-color: yellow; -webkit-animation: none; animation: none; }
.hr { color: red; font-size: 1.5em; }
#mondrian #copyright { background-color: red; }
#mondrian blockquote { padding: 5px; background-color: blue; font-style: italic; color: white; }


