/** 
* var t; // stylesheet 
*/

/* global */
* {
	box-sizing: border-box;
}

html {
  background-color: #FDF6E3;
}

body {
	background-color: #FDF6E3;
	padding: 10px;
	margin: 0px auto;
	font-family: 'Helvetica Neue',Arial,sans-serif;
	width: 100%;
	max-width: 800px;
	font-size: 1.2em;
	
	a {
  	text-decoration: none;
  	color: #2591DA;
  }
  
  img {
  	max-width: 100%;
  }
  
  .center {
  	text-align: center;
  }
  
  .image {
  	text-align: center;
  }
  
  blockquote {
    font-size: 2.5em;
    line-height: 1em;
    margin: 1em;
  }
  
  .caption {
  	font-size: .8em;
  	color: #666;
  	font-style: italic;
  	margin: 0 0 40px;
  	padding: 0;
  	line-height: 0;
  }
  
  .hr {
  	text-align: center;
  	font-size: 2em;
  }
  
  .soon {
  	opacity: .4;
  }
}

header,h1,h2,h3,h4,h5,h6,blockquote {
	font-family: monospace;
}

header {
	font-size: 1.5em;
	margin: 0;
	background-color: #002A35;
	padding: 30px;
	color: #959EA5;
  	
  h1, h2, h3 {
  	display: inline;
  	font-size: 1.5em;
  }
  
  h1 {
    color: #8B9317;
    
    a {
      color: #2AA895;
    }
  }
  
  h2 {
  	font-weight: 400;
  	font-size: .9em;
  	font-style: italic;
  }
  
  h3 {
  	font-size: .8em;
  	font-weight: 400;
  	
  	a {
    	color: #B52F2F;
  	}
  }
  
  em {
  	font-style: normal;
  	color: red;
  }
  
  i {
  	font-style: italic;
  	color: gray;
  	font-weight: 400;
  }
}

article {
	line-height: 1.5em;
	
	h3 {
  	font-size: 2em;
  	
    &.title {
    	background-color: #8B9317;
    	padding: 25px;
    	
    	a {
      	color: #fff;
    	}
  	}
	}
}

footer {
  margin: 50px 0 0;
  
  .table-of-contents {
  	padding: 10px;
  	background-color: #9B8007;
  	
  	a {
    	color: #fff;
  	}
  	
    li {
    	margin: 1em 0;
    }
    
    .date {
      font-style: italic;
    }
  }
  
  h3 {
  	margin: .5em 0;
  }
  
  #about {
  	font-style: italic;
  }
  
  #press {
    background-color: #2AA895;
    padding: 10px;
    
    a {
      color: #fff;
    }
  }
  
  #copyright {
  	font-size: .8em;
  	margin: 30px auto 10px;
  	padding: 5px 10px;
  	background-color: #B52F2F;
  	text-align: center;
  	
  	a {
    	color: #fff;
    	display: inline-block;
    	margin: 0 10px;
  	}
  }
}





/* mondrian */
#mondrian {
	background: url(mondrian/Mondrian_Comp10.jpg) fixed;
}

#mondrian header a {
	color: #000;
	text-decoration: underline;
}

#mondrian header,#mondrian #copyright {
	background-color: #ff0;
}

#mondrian #copyright {
	background-color: red;
}

#mondrian blockquote {
	padding: 5px;
	background-color: blue;
	font-style: italic;
	color: #fff;
}

/* magritte */
#magritte {
	background: url(magritte/assets/sky.png) fixed;
}

#magritte header a {
	color: #000;
	text-decoration: underline;
}

#magritte header,#magritte #copyright {
	background-color: #B3A6A0;
}

#magritte .hr {
	color: #B3A6A0;
	font-size: 1.5em;
}

#magritte #copyright {
	background-color: #B3A6A0;
}

#magritte blockquote {
	padding: 5px;
	background-color: #add8e6;
	font-style: italic;
	color: #000;
}

#magritte .caption {
	font-size: .8em;
	color: #666;
}

#magritte img {
	margin: 0 auto;
}

#magritte-demo {
	background: url(magritte/assets/sky.png) fixed;
}

#magritte-demo header {
	margin-bottom: 50px;
	background-color: #fff;
}

#magritte-demo #copyright {
	background-color: #fff;
}

/* matisse */
#matisse {
	background: url(matisse/assets/bleue.jpg) fixed;
}

#matisse header a {
	color: #fff;
	text-decoration: underline;
}

#matisse header,#matisse #copyright {
	background-color: #3E5DAD;
}

#matisse .hr {
	color: #3E5DAD;
	font-size: 1.5em;
}

#matisse #copyright {
	background-color: #3E5DAD;
}

#matisse blockquote {
	padding: 5px;
	background-color: #add8e6;
	font-style: italic;
	color: #000;
}

#matisse img {
	margin: 0 auto;
}

/* cassatt */
#cassatt {
	background: url(cassatt/assets/sketch-child.jpg) fixed;
}

#cassatt header a {
	color: #fff;
	text-decoration: underline;
}

#cassatt header,#cassatt #copyright {
	background-color: #B32413;
}

#cassatt .hr {
	color: #B32413;
	font-size: 1.5em;
}

#cassatt blockquote {
	padding: 5px;
	background-color: #E0C2B8;
	font-style: italic;
	color: #000;
}

#cassatt img {
	margin: 0 auto;
}

#cassatt small {
	font-style: italic;
	font-size: .8em;
}