/** 
* var t; // stylesheet 
*/

/* global */
* {
	box-sizing: border-box;
}

html {
  background-color: #FDF6E3;
}

body {
	background-color: #FDF6E3;
	padding: 10px;
	margin: 0px auto;
	font-family: 'Helvetica Neue',Arial,sans-serif;
	width: 100%;
	max-width: 800px;
	font-size: 1.2em;
	
	a {
  	text-decoration: none;
  	color: #2591DA;
  }
  
  img {
  	max-width: 100%;
  }
  
  .center {
  	text-align: center;
  }
  
  .image {
  	text-align: center;
  }
  
  blockquote {
    font-size: 2.5em;
    line-height: 1em;
    margin: 1em;
  }
  
  .caption {
  	font-size: .8em;
  	color: #666;
  	font-style: italic;
  	margin: 0 0 40px;
  	padding: 0;
  	line-height: 0;
  }
  
  .hr {
  	text-align: center;
  	font-size: 2em;
  }
  
  .soon {
  	opacity: .4;
  }
}

header,h1,h2,h3,h4,h5,h6,blockquote {
	font-family: monospace;
}

header {
	font-size: 1.5em;
	margin: 0;
	background-color: #002A35;
	padding: 30px;
	color: #959EA5;
  	
  h1, h2, h3 {
  	display: inline;
  	font-size: 1.5em;
  }
  
  h1 {
    color: #8B9317;
    
    a {
      color: #2AA895;
    }
  }
  
  h2 {
  	font-weight: 400;
  	font-size: .9em;
  	font-style: italic;
  }
  
  h3 {
  	font-size: .8em;
  	font-weight: 400;
  	
  	a {
    	color: #B52F2F;
  	}
  }
  
  em {
  	font-style: normal;
  	color: red;
  }
  
  i {
  	font-style: italic;
  	color: gray;
  	font-weight: 400;
  }
}

article {
	line-height: 1.5em;
	
	h3 {
  	font-size: 2em;
  	
    &.title {
    	background-color: #8B9317;
    	padding: 25px;
    	
    	a {
      	color: #fff;
    	}
  	}
	}
}

footer {
  margin: 50px 0 0;
  
  .table-of-contents {
  	padding: 10px;
  	background-color: #9B8007;
  	
  	a {
    	color: #fff;
  	}
  	
    li {
    	margin: 1em 0;
    }
    
    .date {
      font-style: italic;
    }
  }
  
  h3 {
  	margin: .5em 0;
  }
  
  #about {
  	font-style: italic;
  }
  
  #press {
    background-color: #2AA895;
    padding: 10px;
    
    a {
      color: #fff;
    }
  }
  
  #copyright {
  	font-size: .8em;
  	margin: 30px auto 10px;
  	padding: 5px 10px;
  	background-color: #B52F2F;
  	text-align: center;
  	
  	a {
    	color: #fff;
    	display: inline-block;
    	margin: 0 10px;
  	}
  }
}