<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <article>
      {{ content }}
    </article>

    {% include footer.html %}

    <!-- codepen -->
    <script async src="//codepen.io/assets/embed/ei.js"></script>
    
    <script src="//pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(23165); }catch(e){}</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="//pmetrics.performancing.com/23165ns.gif" /></p></noscript>
  </body>

</html>
